{% extends 'base.html' %}
{% block body %}
    <div class="ibox-content">
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            此用户为登录管理资源用户,如需添加请联系系统管理员手动添加！！！<a href="javascript:history.back(-1)" type="submit">返回上一页</a>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table table-stripped table-bordered" id="Users">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">用户名</th>
                <th class="text-center">密码</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">修改时间</th>
                <th class="text-center">备注</th>
            </tr>
            </thead>
            <tbody>
            {% for info in sshuser_list %}
                <tr>
                <td class="text-center">{{ info.id }}</td>
                <td class="text-center">{{ info.name }}</td>
                <td class="text-center">{{ info.password }}</td>
                <td class="text-center">{{ info.created_tm }}</td>
                <td class="text-center">{{ info.updated_tm }}</td>
                <td class="text-center">{{ info.remark }}</td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}