{% extends 'base.html' %}
{% block load_css %}
    <link href="/static/css/plugins/footable/footable.core.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="pace-progress-inner"></div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>云资产管理</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'index' %}>主页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'cloud_servers_list' %}">云资产管理</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong><a href="{% url 'cloud_servers_list' %}">服务器管理</a></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-11">
                <div class="input-group">
                    <form class="navbar-form" method='get' action='{% url 'cloud_servers_search' %}'>
                        <input type='search' name='cloud_servers_search' placeholder='实例ID' required
                               class="input-sm">
                        <button type='submit' class="btn btn-primary">搜索</button>
                    </form>
                    <div>&nbsp;</div>
                    <div>
                        <a href="{% url 'cloud_servers_create' %}" class="btn btn-primary">创建服务器</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <table class="footable table table-stripped toggle-arrow-tiny tablet breakpoint footable-loaded"
                               id="num">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">实例ID</th>
                                <th class="text-center">创建时间</th>
                                <th class="text-center">修改时间</th>
                                <th class="text-center">云归属</th>
                                <th class="text-center">内网IP</th>
                                <th class="text-center">公网IP</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for info in cloudserverscontroller_list %}
                                <tr>
                                    <td class="text-center">{{ info.id }}</td>
                                    <td class="text-center">{{ info.cloud_server_cloud_id }}</td>
                                    <td class="text-center">{{ info.created_tm }}</td>
                                    <td class="text-center">{{ info.updated_tm }}</td>
                                    <td class="text-center">{{ info.cloud_server_cloud_belong }}</td>
                                    <td class="text-center">{{ info.cloud_server_ssh_ip }}</td>
                                    <td class="text-center">{{ info.cloud_server_pub_ip }}</td>
                                    {% if info.cloud_server_status == "0" %}
                                        <td class="text-center"><i class="fa fa-circle text-navy"></i></td>
                                    {% elif info.cloud_server_status == "1" %}
                                        <td class="text-center"><i class="fa fa-circle text-danger"></i></td>
                                    {% else %}
                                        <td class="text-center"><i class="fa fa-circle text-warning"></i></td>
                                    {% endif %}
                                    <td class="text-center">
                                        <a type="button" class="btn btn-info btn-sm"
                                           href="{% url 'cloud_servers_info' %}?id={{ info.id }}">详情</a>
                                        <a type="button" class="btn btn-success btn-sm"
                                           onclick="server_list({{ info.id }})" id="yes">启用</a>
                                        <a type="button" class="btn btn-warning btn-sm"
                                           onclick="server_list({{ info.id }})" id="no">禁用</a>
                                        <a type="button" class="btn-primary btn-sm"
                                           href="{% url 'cloud_servers_update' %}?id={{ info.id }}">
                                            更新 </a>
                                        <a type="button" class="btn btn-danger btn-sm"
                                           onclick="server_delete({{ info.id }})"> 删除 </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <center>
                            <div class="btn-group">
                                {% if page_obj.has_previous %}
                                    <a type="button" class="btn btn-white"
                                       href="{% url 'cloud_servers_list' %}?page={{ page_obj.previous_page_number }}"><i
                                            class="fa fa-chevron-left"></i></a>
                                {% endif %}
                                {% for page in page_range %}
                                    {% if page_obj.number == page %}
                                        <a class="btn btn-white active"
                                           href="{% url 'cloud_servers_list' %}?page={{ page }}">{{ page }}</a>
                                    {% else %}
                                        <a class="btn btn-white"
                                           href="{% url 'cloud_servers_list' %}?page={{ page }}">{{ page }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <a type="button" class="btn btn-white"
                                       href="{% url 'cloud_servers_list' %}?page={{ page_obj.next_page_number }}"><i
                                            class="fa fa-chevron-right"></i></a>
                                {% endif %}
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
{% endblock %}
{% block load_js %}
    <script type="text/javascript">
        window.onload = function () {
            var oTable = document.getElementById("num");
            for (var i = 0; i < oTable.rows.length; i++) {
                oTable.rows[i + 1].cells[0].innerHTML = (i + 1);
            }
        }
    </script>
    <script>
        function server_delete(id) {
            if (confirm('确定删除吗？')) {
                $.get("{% url 'cloud_servers_delete' %}?id=" + id, function (data) {
                    if (data.status == 0) {
                        alert("删除成功")
                        location.href = "{% url 'cloud_servers_list' %}"
                    } else {
                        alert("删除失败")
                        location.href = "{% url 'cloud_servers_list' %}"
                    }
                })
            }
        }
    </script>
    <script>
        function server_list(id) {
            $.get("{% url 'cloud_servers_status' %}?id=" + id, function (data) {
                    if (data.status == 0) {
                        alert("更新成功")
                        location.href = "{% url 'cloud_servers_list' %}"
                    } else {
                        alert("更新失败")
                        location.href = "{% url 'cloud_servers_list' %}"
                    }
                }
            )
        }
    </script>

{% endblock %}
