{% extends 'base.html' %}
{% block load_css %}
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="col-lg-12">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>业务中心</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href={% url 'index' %}>主页</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">业务中心</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{% url 'project_controller_list' %}">项目管理</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong><a href="{% url 'project_controller_create' %}">创建项目</a></strong>
                    </li>
                </ol>
            </div>
        </div>

        <div class="ibox">
            <div>
                <h4>创建项目</h4>
            </div>
            <form class="form-horizontal" id="submit_form">
                {% csrf_token %}
                <div class="hr-line-dashed"></div>
                <div class="form-group  row"><label class="col-sm-2 col-form-label">名称</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="name"></div>
                </div>
                <div class="form-group row"><label class="col-sm-2 col-form-label">部署方式</label>
                    <div class="col-sm-10"><select class="form-control m-b"
                                                   name="products_install_type">
                        <option>Docker</option>
                        <option>Tar</option>
                        <option>Kubernetes</option>
                        <option>其他(备注中说明)</option>
                    </select></div>
                </div>
                 <div class="form-group row"><label class="col-sm-2 col-form-label">项目类型</label>
                    <div class="col-sm-10"><select class="form-control m-b"
                                                   name="project_type">
                        <option>定制化</option>
                        <option>主线</option>
                        <option>其他(备注中说明)</option>
                    </select></div>
                </div>
                <div class="form-group row"><label class="col-sm-2 col-form-label">产品类型</label>
                    <div class="col-sm-10"><select class="form-control m-b" id="product_type_list"
                                                   name="products_name">
                    </select></div>
                </div>
                <div class="form-group  row"><label class="col-sm-2 col-form-label">备注1</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="remark"></div>
                </div>
                <div class="form-group  row"><label class="col-sm-2 col-form-label">备注2</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="t_remark"></div>
                </div>
                <div class="form-group  row"><label class="col-sm-2 col-form-label">备注3</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="m_remark"></div>
                </div>
                <div class="form-group  row"><label class="col-sm-2 col-form-label">备注4</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="p_remark"></div>
                </div>


                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-warning btn-sm " href="javascript:history.back(-1)" type="submit">取消</a>
                        <button class="btn btn-primary btn-sm" type="submit">保存更改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block load_js %}
    <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/js/plugins/validate/messages_zh.js"></script>
    <script>
        $(document).ready(function () {
            $("#submit_form").validate({
                rules: {
                    name: {
                        required: true
                    }
                }, submitHandler: function () {
                    var str = $('#submit_form').serialize();
                    $.post('{% url 'project_controller_create' %}', str, function (res) {
                        console.log(res)
                        if (res.status == 0) {
                            alert('添加成功')
                            location.href = "{% url 'project_controller_list' %}"
                        } else {
                            alert('添加失败')
                            location.href = "{% url 'project_controller_list' %}"
                        }
                    })
                }
            })
        })
    </script>
    <script>
        {#产品类型#}
        $(document).ready(function () {
            getIntproduct();
        });


        function getIntproduct() {
            $.ajax({
                type: "get",
                dataType: "json",
                url: "/api/product_type_list/",
                success: function (data) {
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        var option = document.createElement("option");
                        $("#product_type_list").append(('<option value=' + data[i].name + '>' + data[i].name + '</option>'));
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
{% endblock %}