{% extends 'base.html' %}
{% block load_css %}
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>业务中心</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'index' %}>主页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">云资产管理</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{% url 'cloud_cap_list' %}">云类型管理</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox">
            <div>
                <h4>创建云类型</h4>
            </div>
            <form class="form-horizontal" id="submit_form">
                {% csrf_token %}
                <div class="hr-line-dashed"></div>
                <div class="form-group row"><label class="col-sm-2 col-form-label">厂商</label>
                    <div class="col-sm-10"><select class="form-control m-b" name="name">
                        <option ca>腾讯云</option>
                        <option>阿里云</option>
                        <option>华为云</option>
                        <option>浪潮云</option>
                        <option>天翼云</option>
                        <option>金山云</option>
                        <option>百度云</option>
                        <option>京东云</option>
                        <option>AWS亚马逊</option>
                        <option>Microsoft</option>
                        <option>青云QingCLoud</option>
                        <option>联通云</option>
                    </select></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group  row"><label class="col-sm-2 col-form-label">备注</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="remark"></div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-warning btn-sm " href="javascript:history.back(-1)" type="submit">取消</a>
                        <button class="btn btn-primary btn-sm" type="submit">保存更改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block load_js %}
    <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/js/plugins/validate/messages_zh.js"></script>
    <script>
        $(document).ready(function () {
            $("#submit_form").validate({
                rules: {
                    name: {
                        required: true
                    }
                }, submitHandler: function () {
                    var str = $('#submit_form').serialize();
                    $.post('{% url 'cloud_cap_create' %}', str, function (res) {
                        console.log(res)
                        if (res.status == 0) {
                            alert('添加成功')
                            location.href = "{% url 'cloud_cap_list' %}"
                        } else {
                            alert('添加失败')
                            location.href = "{% url 'cloud_cap_create' %}"
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}